{% extends 'layout.html' %}
{% from "include/_formhelpers.html" import render_field %}

{% block content %}
<div class="py-3">Already registered? <a href="/login">Login</a></div>
<div class="content-section">
  <div class="md-7">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      {{ render_field(form.name) }}
      {{ render_field(form.email) }}
      {{ render_field(form.password) }}
      {{ render_field(form.confirm_password) }}
      {{ form.submit(class="btn btn-primary") }}
    </form>
  </div>
</div>
{% endblock %}